@import "../styles/vars";
@import "../styles/mixins";

.rk-header{
  display: inline-block;
  vertical-align: middle;
  &-wrapper{
    width: $internalWidth;
    margin: 0 auto;
    position: absolute;
    top:50px;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
    @include phone(){
      top:22px;
    }
  }
  &__navigation{
    float: right;
    padding-top: 6px;
    @include clearfix();
    @include phone(){
      float: none;
      width: 100%;
      text-align: center;
    }
  }
  &__logo{
    img{
      height: 27px;
    }
  }
}