@import "mixins";
@import "vars";

.rk-avatar{
  background: url("../images/default_avatar.png");
  background-image: url("../images/user_avatar.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  &--inline{
    display: inline-block;
    vertical-align: middle;
  }
  &--small{
    width: 32px;
    height: 32px;
  }
  &--table{
    margin-right: 13px;
  }
}