@import "vars";
@import "normalize";
@import "mixins";

/* Icon Font*/

@font-face {
  font-family: 'ripkord';
  src: url('#{$font-path}/ripkord.eot?ubra7c');
  src: url('#{$font-path}/ripkord.eot?ubra7c#iefix') format('embedded-opentype'),
  url('#{$font-path}/ripkord.ttf?ubra7c') format('truetype'),
  url('#{$font-path}/ripkord.woff?ubra7c') format('woff'),
  url('#{$font-path}/ripkord.svg?ubra7c#ripkord') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Main Fonts Gotham */

@font-face {
  font-family: 'Gotham Pro';
  src: url('#{$font-path}/GothamPro-Bold.eot');
  src: url('#{$font-path}/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/GothamPro-Bold.woff2') format('woff2'),
  url('#{$font-path}/GothamPro-Bold.woff') format('woff'),
  url('#{$font-path}/GothamPro-Bold.ttf') format('truetype'),
  url('#{$font-path}/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('#{$font-path}/GothamPro-Black.eot');
  src: url('#{$font-path}/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/GothamPro-Black.woff2') format('woff2'),
  url('#{$font-path}/GothamPro-Black.woff') format('woff'),
  url('#{$font-path}/GothamPro-Black.ttf') format('truetype'),
  url('#{$font-path}/GothamPro-Black.svg#GothamPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('#{$font-path}/GothamPro.eot');
  src: url('#{$font-path}/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/GothamPro.woff2') format('woff2'),
  url('#{$font-path}/GothamPro.woff') format('woff'),
  url('#{$font-path}/GothamPro.ttf') format('truetype'),
  url('#{$font-path}/GothamPro.svg#GothamPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('#{$font-path}/GothamPro-Medium.eot');
  src: url('#{$font-path}/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/GothamPro-Medium.woff2') format('woff2'),
  url('#{$font-path}/GothamPro-Medium.woff') format('woff'),
  url('#{$font-path}/GothamPro-Medium.ttf') format('truetype'),
  url('#{$font-path}/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('#{$font-path}/GothamPro-Light.eot');
  src: url('#{$font-path}/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/GothamPro-Light.woff2') format('woff2'),
  url('#{$font-path}/GothamPro-Light.woff') format('woff'),
  url('#{$font-path}/GothamPro-Light.ttf') format('truetype'),
  url('#{$font-path}/GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

/* Main Fonts Gotham */

html{
  height: 100%;
}

body {
  background-color: $mainBg;
  font-family: "Gotham Pro", sans-serif;
  color: $textColor;
  position: relative;
  
  @include phone{
    min-width: 0;
  }
}

.no-phone{
  @include phone(){
    display: none !important;
  }
}

.link{
  color: $primeColor;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover{
    text-decoration: underline;
  }
  &--navigation{
    font-size: 14px;
    color: $textColor;
    padding: 0px 26px;
    &:last-child{
      padding-right: 0px;
      @include phone(){
        padding-right: 26px;
      }
    }
    &:hover{
      color: $primeColor;
    }
    &.active{
      color: $primeColor;
      cursor: default;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &--icon{
    text-decoration: none;
    &:focus{
      outline: none;
    }
    &:hover{
      text-decoration: none;
    }
  }
}

