@import "vars";

@mixin iconfont() {
  font-family: 'ripkord' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Media Queries */

@mixin tablet {
  @media only screen and (min-device-width: #{$tablet-width}) and (max-device-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin phone {
  @media only screen and (max-device-width: #{$phone-width}){
    @content;
  }
}

/* Media Queries */

@mixin clearfix(){

  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }

  &{
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  }

}