@import "mixins";
@import "vars";

.rk-table{
  display: table;
  table-layout: fixed;
  width: $internalWidth;
  position: relative;
  z-index: 11;
  margin: 0 auto;
  box-sizing: border-box;
  &__header{
    height: 30px;
    font-size: 11px;
    font-weight: 500;
    color: transparentize($textColor,0.4);
  }
  &__row{
    border: 1px solid $tableBorderColor;
    border-radius: 4px;
    margin-bottom: 7px;
    padding: 18px 0px 17px 18px;
    transition: all 0.4s ease;
    &:hover{
      border-color: $primeColor;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__cell{
    display: table-cell;
    width: 180px;
    vertical-align: middle;
    @include phone(){
      width: 93px;
    }
    @include tablet(){
      width: 120px;
    }
    &--avatar{
      width:47px;
    }
    &--mainCol{
      width: 100%;
    }
    &--importantData{
      font-size: 16px;
      font-weight: 500;
      color: $primeColor;
    }
    &.block{
      @include phone(){
        display: block;
      }
    }
  }
}

.game-logo{
  height: 12px;
  @include phone(){
    height: 7px;
  }
}