//colors
$mainBg: #190629;
$primeColor: #feb823;
$textColor: #cfc4d7;
$darkerText: #5c4c69;
$dividerColor: #4a172e;
$brightWhite: #ffffff;
$tableBorderColor: transparentize($brightWhite,0.7);

//font
$font-path: "./font" !default;

//icon font
$rk-facebook: '\e902';
$rk-instagram: '\e903';
$rk-twitter: '\e904';
$rk-youtube: '\e905';
$rk-App_store_btn: '\e900';
$rk-Google_play_btn: '\e901';

//Media Queries

$phone-width: 414px;
$tablet-width: 768px;
$desktop-width: 1024px;

//sizes
$internalWidth: 90%;