@import "global";
@import "table";
@import "avatars";

main {
  height: 100%;
}

#root {
  height: 100%;
}

.mainContainer{
  position: relative;
  //background: url("../images/bottom_waves.png") bottom center no-repeat;
}
