@import "../styles/vars";
@import "../styles/mixins";

.featureBlock{
  text-align: center;
  vertical-align: middle;
  margin-bottom: 70px;
  position: relative;
  z-index: 5;
  margin-top: 70px;
}

.feature{
  display: inline-block;
  margin: 0 50px;
  width: 121px;
  &__icon{
    height: 72px;
  }
  &__title{
    font-size: 15px;
    margin-top: 23px;
  }
  @include phone {
    margin: 0 35px;
    margin-bottom: 25px;
    width: 88px;
    vertical-align: top;
    &:last-child{
      margin-bottom: 0;
    }
  }
}