@import "../styles/vars";
@import "../styles/mixins";

.topBlock{
  min-height: 684px;
  position: relative;
  @include phone {
    min-height: 476px;
  }
  &:after{
    content: '';
    height: 100%;
    width:100%;
    position: absolute;
    top:107px;
    left:-50px;
    right:0;
    bottom: 0;
    background: url("../images/top_waves.png") center no-repeat;
    z-index: 2;
    @include phone {
      left:0;
      top:74px;
    }
  }
  &:before{
    content: '';
    height: 100%;
    width:100%;
    position: absolute;
    top:0;
    left:-20px;
    right:0;
    bottom: 0;
    background: url("../images/objects.png") center no-repeat;
    z-index: 3;
    @include phone {
      background: none;
    }
  }
  &--onlyWaves{
    &:before{
      background: none;
    }
  }
  &--topSpace{
    padding-top: 130px;
    box-sizing: border-box;
    min-height: 520px;
    padding-bottom: 30px;
    @include phone(){
      padding-top: 80px;
      min-height: 450px;
    }
    &:after{
      top:107px;
      @include phone(){
       top:50px;
      }
    }
  }
  &__logo{
    height: 130px;
  }
  &__button{
    display: block;
    height: 54px;
    margin-top: 50px;
    cursor: pointer;
    &:before{
      @include iconfont();
      font-size: 56px;
      color: $brightWhite;
      transition: color 0.5s ease;
    }
    &:hover:before{
      color:$primeColor;
    }
    &:focus:before{
      color:$primeColor;
    }
    &.apple:before{
      content: $rk-App_store_btn;
    }
    &.android{
      cursor: auto;
      &:before{
        content: $rk-Google_play_btn;
        color: transparentize($brightWhite,0.6);
      }
      &:hover:before{
        content: $rk-Google_play_btn;
        color: transparentize($brightWhite,0.6);
      }
    }
  }
  &__phone{
    position: absolute;
    z-index: 4;
    height: 100%;
    width:100%;
    &.android{
      background: url("../images/phone_android.png") center no-repeat;
      @include phone {
        background: none;
      }
    }
    &.apple{
      background: url("../images/phone_apple.png") center no-repeat;
      @include phone {
        background: none;
      }
    }
    &.other{
      background: url("../images/phone_apple.png") center no-repeat;
      @include phone {
        background: none;
      }
    }
  }
  &__content{
    position: absolute;
    top:250px;
    left:50%;
    transform: translate(-50%);
    z-index: 5;
    text-align: center;
    &.other{
      top:244px;
    }
    @include phone {
      top:83px;
    }
  }
  &__slogan{
    font-size: 18px;
    position: relative;
    padding-top: 36px;
    margin-top: 15px;
    box-sizing: border-box;
    &:before{
      content: '';
      position: absolute;
      height: 3px;
      width: 20px;
      background-color: transparentize($brightWhite,0.5);
      top:0;
      left:50%;
      transform: translate(-50%);
    }
  }
  &__divider{
    height: 1px;
    background-color: $dividerColor;
    width: $internalWidth;
    position: absolute;
    bottom: 0;
    left:50%;
    right:0;
    transform: translate(-50%);
    z-index: 6;
    @include phone {
      width: 100%;
    }
  }
}

.twoButtons{
  margin-top: 40px;
  > .topBlock__button{
    margin-top: 20px;
  }
}