@import "../styles/vars";
@import "../styles/mixins";

.rk-error{
  &__content{
    display: inline-block;
    text-align: center;
    position: absolute;
    z-index: 9;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  &__icon{
    height: 67px;
    margin-bottom: 15px;
  }
  &__message{
    font-size: 14px;
    margin-bottom: 6px;
    &--description{
      color: transparentize($textColor,0.4);
    }
  }
}