@import "../styles/vars";
@import "../styles/mixins";

.footer{
  text-align: center;
  padding-bottom: 40px;
  position: relative;
  z-index: 10;
  &__divider{
    width: $internalWidth;
    position: relative;
    text-align: center;
    margin: 0 auto;
    height: 27px;
    &:before{
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      left:0;
      right:0;
      top:50%;
      height: 1px;
      background-color: $dividerColor;
    }
  }
  &__icon{
    height: 27px;
    position: absolute;
    z-index: 2;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 0 15px;
    background-color: $mainBg;
  }
  &__socialIcons{
    margin: 42px 0 0 0;
  }
  &__socialIcon{
    display: inline-block;
    height: 33px;
    width: 33px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 15px;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
    &:before{
      @include iconfont();
      color: $darkerText;
      transition: color 0.4s ease;
      font-size: 29px;
      width: 33px;
      height: 33px;
    }
    &:hover:before{
      color: $textColor;
    }
    &:focus:before{
      color: $textColor;
    }
    &.instagram:before{
      content: $rk-instagram;
    }
    &.facebook:before{
      content: $rk-facebook;
    }
    &.twitter:before{
      content: $rk-twitter;
    }
    &.youtube:before{
      content: $rk-youtube;
    }
  }
  &__bottomText{
    margin: 32px 0 0 0;
    font-size: 13px;
  }
}

.copyright{
  font-size: 12px;
  margin: 0;
  color: $darkerText;
}